<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments/config :: configFragment"></head>

    <div class="d-flex" id="wrapper">
            <header th:replace="fragments/header :: headerFragment"></header>
            <section th:replace="fragments/sidebar :: sidebarFragment"></section>
            <div layout:fragment="content"></div>
    </div>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
</html>