<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kakaocorp.iamguide.dao.GuideDocMapper">
    <select id="retrieveGuideDoc" resultType="com.kakaocorp.iamguide.model.GuideDoc">
        select DOCUMENT_TITLE as title, DOCUMENT_TEXT as text from GUIDE_DOCUMENT where DOCUMENT_KEY=#{id}
     </select>
    <update id="updateGuideDoc">
        update GUIDE_DOCUMENT SET DOCUMENT_TEXT=#{content} where DOCUMENT_KEY=#{id}
    </update>
    <select id="retrieveGuideTreeList" resultType="com.kakaocorp.iamguide.model.GuideDoc">
        select concat("DOC",gd.DOCUMENT_KEY) as id, gd.DOCUMENT_TITLE as text, concat("DIR",gdr.DIR_KEY) as parent, gd.DOCUMENT_STATE as state
        from GUIDE_DOCUMENT as gd
        inner join GUIDE_DIR as gdr
        on gd.DIRECTORY_KEY = gdr.DIR_KEY
        union
        select concat("DIR", gdr.DIR_KEY), gdr.DIR_NAME, if(gdr.DIR_KEY = gdr.DIR_PARENT_KEY , "#", concat("DIR",gdr.DIR_PARENT_KEY)),gdr.DIR_STATE
        from GUIDE_DIR as gdr
    </select>
    <insert id="createGuideTree">
        insert into GUIDE_DOCUMENT(DOCUMENT_TITLE,DOCUMENT_TEXT,DIRECTORY_KEY,DOCUMENT_STATE)
        values(#{text},#{content},#{parent},#{state})
    </insert>

    <update id="updateGuideTree">
        update GUIDE_DOCUMENT SET DOCUMENT_TITLE=#{text}, DIRECTORY_KEY=#{parent}, DOCUMENT_STATE=#{state}
        where DOCUMENT_KEY=#{key}
    </update>

    <delete id="deleteGuideTree">
        delete from GUIDE_DOCUMENT where DOCUMENT_KEY=#{key}
    </delete>
</mapper>
