<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakaocorp.iamguide.dao.UploadMapper">

    <insert id = "createImage">
        insert ignore into GUIDE_IMAGE(IMAGE_PATH,IMAGE_UUID)
        values(#{url},#{uuid})
    </insert>

    <select id="retrieveImage" resultType="String">
        select IMAGE_PATH FROM GUIDE_IMAGE
        WHERE IMAGE_UUID=#{uuid}
    </select>

    <insert id="createImaging" parameterType="java.util.List">
        INSERT INTO GUIDE_IMAGING(IMAGE_KEY, DOCUMENT_KEY)
        SELECT IMAGE_KEY, ${docId} as DOCUMENT_KEY
        FROM GUIDE_IMAGE
        WHERE IMAGE_UUID IN (
            <foreach collection="insert" item="item" separator=",">
                #{item}
            </foreach>
        )
    </insert>

    <delete id="deleteImaging" parameterType="java.util.List">
        DELETE FROM GUIDE_IMAGING
        WHERE DOCUMENT_KEY = ${docId} AND IMAGE_KEY IN(
            SELECT IMAGE_KEY FROM GUIDE_IMAGE WHERE IMAGE_UUID IN(
                <foreach collection="delete" item="item" separator=",">
                    #{item}
                </foreach>
            )
        )
    </delete>

    <delete id="deleteTrash" parameterType="java.util.List">
        DELETE FROM GUIDE_IMAGE
        WHERE IMAGE_KEY IN (
	        <foreach collection="list" item="item" separator=",">
                #{item.key}
            </foreach>
        )
    </delete>

    <select id="findTrash" resultType="com.kakaocorp.iamguide.model.Image">
        SELECT IMAGE_KEY as id, IMAGE_PATH as path, IMAGE_UUID as uuid FROM GUIDE_IMAGE
        WHERE IMAGE_KEY NOT IN (
	        SELECT IMAGE_KEY FROM GUIDE_IMAGING
        )
    </select>

</mapper>