<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kakaocorp.iamguide.dao.UploadMapper">
    <insert id = "setImage">
        insert ignore into GUIDE_IMAGE(IMAGE_PATH)
        values(#{url})
    </insert>
    <insert id="insertImageUrl" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO GUIDE_IMAGE(IMAGE_PATH)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.path})
        </foreach>
    </insert>
    <insert id="insertImaging" parameterType="java.util.List">
        INSERT INTO GUIDE_IMAGING(IMAGE_KEY, DOCUMENT_KEY)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.dockey})
        </foreach>
    </insert>
</mapper>