<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="../../static/css/simple-sidebar.css" th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
    <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"/>
    <link href="../../static/css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet" />
    <link href="../../static/css/jstree/style.css" th:href="@{/css/jstree/style.css}" rel="stylesheet" />
</html>