<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<footer th:fragment="footerFragment" >
    <div class="text-center" style="margin-top: 50px">
        <div class="form-group border-top">
            <small class="mt-5 mb-3 text-muted">Copyright &copy; Kakao Corp. All rights reserved.</small><br>
            <a class="text-muted" href="https://kakao.agit.in/g/300011229/wall"><small>[사내인프라셀 @@iam]</small></a>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/editor/ckeditor.js}" src="../../static/js/editor/ckeditor.js"></script>
    <script type="text/javascript" th:src="@{/js/ediotr.js}" src="../../static/js/editor/editor.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/select2.min.js}" src="../../static/js/select2.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/search.js}" src="../../static/js/search.js"></script>
    <script type="text/javascript" th:src="@{/js/jstree.js}" src="../../static/js/jstree.js"></script>
    <script type="text/javascript" th:src="@{/js/guide.js}" src="../../static/js/guide.js"></script>
    <script type="text/javascript" th:src="@{/js/admin_auth.js}" src="../../static/js/admin_auth.js"></script>
    <script type="text/javascript" th:src="@{/js/header.js}" src="../../static/js/header.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</div>
</footer>
</html>