<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<footer th:fragment="footerFragment">
    <div class="text-center" style="margin-top: 50px">
        <div class="border-top pt-3 pb-3">
            <small class="text-muted">Copyright &copy; Kakao Corp. All rights reserved.</small><br>
            <a class="text-muted" href="https://kakao.agit.in/g/300011229/wall"><small>[사내인프라셀 @@iam]</small></a>
        </div>
        <a href="https://wiki.daumkakao.com/pages/viewpage.action?pageId=615938943"><strong>버그 제보</strong></a>
    </div>
    <script th:src="@{/js/editor/ckeditor.js}"></script>
    <script th:src="@{/js/editor.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jstree.js}"></script>
    <script th:src="@{/js/guide.js}" ></script>
    <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/admin_auth.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
</footer>
</html>