<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">

    <headr th:with="admin = ${#authentication.getDetails()}">
        <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top"style="background:#ffde00">
        <!--카카오로고-->
        <a href="/guide">
        <img src = "/images/kakao%20CI_black.png" id = navbar_kakao_img alt = Kakao
             style = "width:100px; height: auto;">
         </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <div class = "Search"
                     style="height:auto; width: 400px;border:1px #1b5ac2;margin-right: 50px; background: #ffffff">
                    <label>
                        "태그 검색~"
                        <select class="select2-tag" name="tag" style="font-size: 16px;width:325px;padding: 10px;border: 0px;outline: none;float: left">

                        </select>
                    </label>
                </button>
                </div>
                <!--아이디-->
                <li class="nav-item active">
                    <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/logout}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" id="admin_name" th:if="${#authentication.getDetails() != null}" th:value="${#authentication.getName()}" />
                        <label class="text-dark mr-2 " style="padding-left:30px;">
                            <strong th:if="${#authentication.getDetails() != null}" th:text= "|${#authentication.getName()} / ${#authentication.getDetails().getPersonName()}|" style="font-size: larger"></strong>
                        </label>
                        <!--로그아웃-->
                        <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" value="로그아웃"
                                style = "margin-left:10px;height: 50px"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
        <!-- Sidebar -->

        <!-- Menu Toggle Script -->

    </headr>
</header>

</html>