<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<!-- index.html 고유 CSS 추가
<th:block layout:fragment="css">

</th:block>
-->
<!-- index.html 고유 스크립트 추가
<th:block layout:fragment="script">

</th:block>
-->

<div layout:fragment="content">
    <div class="container-fluid" style="margin-top: 100px">
        <div class="row" id="Guide_Doc" style="margin-bottom: 30px"></div>
        <div class="row">
            <select class="custom-select col-sm-4 select2-tagging" name="tags" multiple="multiple"></select>
            <input type="button" class="col-sm-2" id="edit_button" onclick="edit_button_click();" value = "편집"></input>  <!--editor readonly : false-->
            <input type="button" class="col-sm-2" id="edit_save_button" onclick="edit_save_button_click();" value = "저장"></input>  <!--// ajax save guide_doc_text-->
        </div>
        <div class="doc_update">
            <textarea id="update" rows="20" cols="50" readonly="readonly"></textarea>
        </div>
    </div>
</div>
</html>