<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<body>

<div layout:fragment="content">
    <div class="container-fluid" style="margin-top: 70px">
    </div>
    <div class="form-row" style="padding-bottom:30px;">
        <div class="form-check form-check-inline">참조 :</div>
        <div class="col px-0">
            <select class="custom-select select2-account" width="350px"></select>
        </div>
        <button type="button" id="addCCBtn" class="btn btn-info ml-2 btn-sm">추가</button>
        <ul class="list-group w-100" id="ccList" style="padding-top:5px">
            <!-- 참조인 li가 들어오는곳 -->
        </ul>
    </div>
</div>
<script type="text/javascript">

</script>
</body>
</html>