<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<body onload="onload();">
<div layout:fragment="content">
    <div class="container-fluid" style="margin-top: 100px">
        <div>
            <div class="form-row">
                <label style="font-size: large"> 사내계정(다중 선택 가능)
                    <select class="custom-select select2-account" name="accounts[]" style="width:500px" multiple="multiple"></select>
                </label>
                <button class="btn btn-info ml-2 btn-sm insert-admin" onclick="insert_click()">추가</button>
            </div>
            <hr>
        </div>
        <div>
            <select class="custom-select select-account-all" style="height: 300px" multiple="multiple"></select>
            <button class="btn btn-info col-sm delete-admin" onclick="delete_click()">삭제</button>
        </div>
        <div>
            <select class="custom-select select-tag" style="height: 300px" multiple="multiple"></select>
            <button class="btn btn-info col-sm delete-admin" onclick="delete_click()">삭제</button>
        </div>
    </div>
</div>
</body>
</html>