<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">

    <div id="guide_content">
        <div class="container">
            <input id="selected" hidden="hidden" th:value="${selected}">
            <h1 id="guide-title"></h1>
            <div id="Guide_Doc" style="margin-left: 30px"></div>
            <div class="row justify-content-between mt-3 ml-0 mr-0">
                <select class="custom-select select2-tagging" style="width: 700px" name="tags" multiple="multiple"></select>
                <div>
                    <button style="color: #212529;background-color: #ffc10780;border-color: #ffc10700;width: 130px;height: 40px" type="button" class="btn btn-info"  id="edit_button" onclick="edit_button_click();">편집</button>  <!--editor readonly : false-->
                    <button style="color: #212529;background-color: #ffc10780;border-color: #ffc10700;width: 130px;height: 40px" type="button" class="btn btn-info" id="edit_save_button" onclick="edit_save_button_click();" >저장</button>  <!--// ajax save guide_doc_text-->
                </div>
            </div>
        </div>
    </div>
</div>
</html>