<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Guide Tree Edit Page</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link href="../../static/css/jstree/style.css" th:href="@{/css/jstree/style.css}" rel="stylesheet"/>

</head>
<style>
    ul {
        font-size: 15pt;
    }
</style>
<headr th:with="admin = ${#authentication.getDetails()}"></headr>
<body id="treeBody">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background:#ffde00">
    <div class="container-fluid">
        <div class="navbar-header">
                <img src="/images/kakao%20CI_black.png" alt=Kakao style="width:100px;
                height: auto;">
        </div>
    </div>
</nav>
<input type="hidden" id="admin_name" th:if="${#authentication.getDetails() != null}"
       th:value="${#authentication.getName()}"/>
<div id="edit_tree" class="scroll-box" style="margin-top:50px"></div>
<input class="btn btn-outline-dark my-2 my-sm-0" type="button" id="save_tree_button" onclick="create_root();" value="root create" style="margin-left: 10px"></input>
<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/jstree.js}" src="../../static/js/jstree.js"></script>
<script type="text/javascript" th:src="@{/js/admin_tree.js}" src="../../static/js/admin_tree.js"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/guide.js}" src="../../static/js/guide.js"></script>
<script>
    $(this).jstree('open_all')
</script>
</body>
</html>