<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">
    <div class="container" id="guide_first" style="width: 500px; text-align: center">
        <h1>ADMIN_PAGE</h1>
        <h2>HOW TO?</h2>
        <ul class="mt-3" style="text-align: left">
            <li>CLICK TREE</li>
            <li>CLICK EDIT BUTTON</li>
            <li>CLICK SAVE BUTTON</li>
        </ul>
    </div>


</div>
</html>