<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
    <div layout:fragment="content" class="container-fluid" style="margin-top: 100px">
        <div id="guide_first">
        <div class="container d-flex flex-column mb-3">
            <div class="d-flex flex-row justify-content-center">
                <div class="d-flex justify-content-between" style="width: 1020px">
                    <div class="p-2">
                        <label style="font-size: x-large"> 사내계정(다중 선택 가능)
                            <select class="custom-select select2-account" name="accounts" style="width:700px"></select>
                        </label>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-info mt-1 ml-2 btn-sm insert-admin" style="margin-bottom: 8px">추가</button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2" style="width: 1020px">
                    <ul class="list-group w-100" id="addList">
                        <button class="btn btn-info col-sm mt-3 insert-admin" style="width: 1020px" onclick="insertClick()">추가 완료</button>
                    </ul>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2" style="width: 1020px">
                    <select class="custom-select select-account-all" onload onchange="onChange()" style="height: 300px" multiple="multiple"></select>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2" style="width: 1020px">
                    <button class="btn btn-info col-sm delete-admin" style="width: 1020px" onclick="deleteClick()">삭제</button>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2">
                    <label id="select-count">0</label><label>개 선택</label>
                </div>
            </div>
        </div>
        </div>

        <div class="container-fluid" id="guide_content" style="display: none;">
            <input id="selected" hidden="hidden" th:value="${selected}">
            <h1 id="guide-title"></h1>

            <div id="Guide_Doc">

            </div>
        </div>
    </div>
</html>