<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Access Denied</title>
</head>
<body th:with="admin = ${#authentication.getDetails()}">
<h1>Error Page </h1>
error code : <span th:text="${code}"></span>
<br>error msg : <span th:text="${msg}"></span>
<br>timestamp : <span th:text="${timestamp}"></span>
</body>
</html>