<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">
    <div class ="container mb-3" id="guide_first">
        <div style="text-align: center">
            <h1>GUIDE 목차</h1>
        </div>
        <div class ="row justify-content-around" style="margin-top: 50px">
            <div>
                <h1>LDAP</h1>
                <ul class="list-group" style="width: 500px;height: 300px;">
                    <li class="list-group-item" >LDAP은 사내계정 시스템입니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="menu_tag('ldap')">#LDAP</a>
                        <a href="#" onclick="menu_tag('생성')">#생성</a>
                        <a href="#" onclick="menu_tag('만료')">#만료</a>
                        <a href="#" onclick="menu_tag('변경')">#변경</a>
                        <a href="#" onclick="menu_tag('faq')">#FAQ</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>HELLO MIS</h1>
                <ul class="list-group" style="width: 500px;height: 300px;">
                    <li class="list-group-item">HELLO MIS는 사내 계정 API 시스템입니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                    <a href="#" onclick="menu_tag('mis')">#MIS</a>
                    <a href="#" onclick="menu_tag('hello')">#HELLO</a>
                    <a href="#" onclick="menu_tag('신청')">#신청</a>
                    <a href="#" onclick="menu_tag('승인')">#승인</a>
                    <a href="#" onclick="menu_tag('faq')">#FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-around" style="">
            <div>
                <h1>SSO</h1>
                <ul class="list-group" style="width: 500px;height: 400px;">
                    <li class="list-group-item">SSO DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                    <a href="#" onclick="menu_tag('sso')">#SSO</a>
                    <a href="#" onclick="menu_tag('신청')">#신청</a>
                    <a href="#" onclick="menu_tag('사용')">#사용</a>
                    <a href="#" onclick="menu_tag('faq')">#FAQ</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>GROUP MAIL</h1>
                <ul class="list-group" style="width: 500px;height: 400px;">
                    <li class="list-group-item">GROUP MAIL DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                    <a href="#" onclick="menu_tag('group')">#GROUP</a>
                    <a href="#" onclick="menu_tag('mail')">#mail</a>
                    <a href="#" onclick="menu_tag('그룹메일')">#그룹메일</a>
                    <a href="#" onclick="menu_tag('faq')">#FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>