<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">
    <div class="container" id="guide_content" style="min-width: 1100px">
        <input type="hidden" id="selected"  th:value="${selected}">
        <h1 id="guide-title" th:text="${guideTitle}"></h1>
        <div class="row-3">
            <p style="font-size:0.8em" id="guide-update"></p>
        </div>
        <hr style="width: 1100px">
        <div class="row" id="tag_list" style="padding-left: 15px">
            <p>Tag list:</p>
            <ul style="padding-left:15px" id="guide-tag"></ul>
        </div>
        <input type="hidden" id="guideContent" th:value="${guideContent}"/>
        <div id="Guide_Doc" style="margin-left: 30px"></div>
    </div>
</div>

</html>