<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">
    <div class ="container mb-3" id="guide_first">
        <div style="text-align: center">
            <h1>GUIDE 목차</h1>
        </div>
        <div class ="row justify-content-around" style="margin-top: 50px">
            <div>
                <h1>LDAP</h1>
                <ul class="list-group" style="width: 500px;height: 300px;">
                    <li class="list-group-item" >LDAP DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="menu_tag('ldap')">#LDAP</a>
                        <a href="#" onclick="menu_tag('faq')">#FAQ</a>
                        <a href="#" onclick="menu_tag('생성')">#생성</a>
                        <a href="#" onclick="menu_tag('만료')">#만료</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>HELLO MIS</h1>
                <ul class="list-group" style="width: 500px;height: 300px;">
                    <li class="list-group-item">HELLO MIS DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-around" style="">
            <div>
                <h1>SSO</h1>
                <ul class="list-group" style="width: 500px;height: 400px;">
                    <li class="list-group-item">SSO DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
            <div>
                <h1>GROUP MAIL</h1>
                <ul class="list-group" style="width: 500px;height: 400px;">
                    <li class="list-group-item">GROUP MAIL DESCRIPTION</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>