<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<div layout:fragment="content">
    <div class="container mb-3" id="guide_first">
        <div style="text-align: center">
            <h1>GUIDE 목차</h1>
        </div>
        <div class="row justify-content-around" style="margin-top: 50px">
            <div>
                <h1>LDAP</h1>
                <ul class="container list-group" style="height: 300px;">
                    <li class="list-group-item">LDAP은 사내계정 시스템입니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="clickMainTag('LDAP')">#LDAP</a>
                        <a href="#" onclick="clickMainTag('생성')">#생성</a>
                        <a href="#" onclick="clickMainTag('만료')">#만료</a>
                        <a href="#" onclick="clickMainTag('변경')">#변경</a>
                        <a href="#" onclick="clickMainTag('FAQ')">#FAQ</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>HELLO MIS</h1>
                <ul class="container list-group" style="height: 300px;">
                    <li class="list-group-item">HELLO MIS는 사내계정 인증 API 시스템입니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="clickMainTag('HelloMIS')">#HelloMIS</a>
                        <a href="#" onclick="clickMainTag('가이드')">#가이드</a>
                        <a href="#" onclick="clickMainTag('신청')">#신청</a>
                        <a href="#" onclick="clickMainTag('승인')">#승인</a>
                        <a href="#" onclick="clickMainTag('FAQ')">#FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-around" style="">
            <div>
                <h1>CAS</h1>
                <ul class="container list-group" style="height: 300px;">
                    <li class="list-group-item">CAS는 사내계정 인증 SSO 시스템입니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="clickMainTag('SSO')">#SSO</a>
                        <a href="#" onclick="clickMainTag('CAS')">#CAS</a>
                        <a href="#" onclick="clickMainTag('신청')">#신청</a>
                        <a href="#" onclick="clickMainTag('가이드')">#가이드</a>
                        <a href="#" onclick="clickMainTag('FAQ')">#FAQ</a>
                    </li>
                </ul>
            </div>
            <div>
                <h1>GROUP MAIL</h1>
                <ul class="container list-group" style="height: 300px;">
                    <li class="list-group-item">GROUP MAIL Alias를 관리합니다.</li>
                    <li class="list-group-item" style="color: mediumvioletred">TAG LIST</li>
                    <li class="list-group-item">
                        <a href="#" onclick="clickMainTag('GROUP')">#GROUP</a>
                        <a href="#" onclick="clickMainTag('MAIL')">#MAIL</a>
                        <a href="#" onclick="clickMainTag('그룹메일')">#그룹메일</a>
                        <a href="#" onclick="clickMainTag('Alias')">#Alias</a>
                        <a href="#" onclick="clickMainTag('FAQ')">#FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</html>