<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">


<div layout:fragment="content">
    <div class="container-fluid" style="margin-top: 70px">
        <h1>IAM | GUIDE</h1>
        <div class="row" style="margin-top: 50px">
            <div class ="col-md-6 col-lg-4 justify-content-center h-100 w-100"style="margin-right: 50px">
                <ul><h2>LDAP</h2></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
            </div>
            <div class ="col-md-6 col-lg-4 justify-content-center h-200 w-300" style="margin-bottom: 50px">
                <ul><h2>LDAP</h2></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
            </div>
            <div class ="col-md-6 col-lg-4 justify-content-center h-200 w-300 "style="margin-right: 50px">
                <ul><h2>LDAP</h2></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
            </div>
            <div class ="col-md-6 col-lg-4 justify-content-center h-200 w-300 " style="margin-bottom: 50px">
                <ul><h2>LDAP</h2></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
                <ul><a href="/guide/ldap1-1">#LDAP생성</a></ul>
            </div>
        </div>
    </div>
</div>
</html>